*{
    background: rgb(203, 217, 227);
    padding: 0px;
}
#Navbar h4{
    background-color: white;
    color: black;
    padding-left: 10px;
    padding-top: 0px;
    font-size: 24px;
}
.profile{
    background-color: white;
    border: 2px solid rgb(190, 187, 187);
    width: 40%;
    height: 99%;
    position: absolute;
    top: 0.5%;
    left: 0.5%;
    border-radius: 15px;
}
.profile h3{
    background-color: white;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 28%;
    font-size: 10vh;
    padding-bottom: 0px;
}
.profile p{
    background-color: white;
    color: rgb(189, 189, 189);
    position: absolute;
    text-align: center;
    top: 55%;
    left: 39%;
    font-size: 8vh;
}
.profile img{
    border-radius: 50%;
    position: absolute;
    top:5%;
    left: 20%;
    height: 40%;
    width: 60%;
}
.click1{
    font-size: 5vh;
    position: absolute;
    top: 70%;
    left: 20%;
    height: 5%;
    width: 30%;
    border: 1px solid rgb(40, 133, 232);
    margin: 1px;
    padding: 10px;
    border-radius: 5%;
    background-color: rgb(40, 133, 232);
    color: white;
    
}
.click1:hover{
    background-color: white;
    color: rgb(40, 133, 232);
    border: 1px solid rgb(40, 133, 232);
    border-radius: 5%;
}
.click2{
    font-size: 5vh;
    position: absolute;
    top: 70%;
    left: 52%;
    height: 5%;
    width: 30%;
    border: 1px solid rgb(40, 133, 232);
    border-radius: 5%;
    padding: 10px;
    background-color: white;
    color: rgb(40, 133, 232);
}
.click2:hover{
    background-color: rgb(40, 133, 232);
    color: white;
}
#clicks{
    display: inline;
}
.info{
    background-color: white;
    border: 2px solid rgb(190, 187, 187);
    width: 58%;
    height: 49%;
    position: absolute;
    top: 0.5%;
    right: 0.5%;
    border-radius: 15px;
    
}
.info p{
    background-color: white;
    font-size: 4vh;
}
.info h4{
    background-color: white;
    font-size: 5vh;
}
.email{
    margin-left: 5px;
    display: inline;
}
.mobile{
    margin-left: 5px;
    display: inline;
}
.address{
    margin-left: 5px;
    display: inline;
}
.name1{position: absolute;
    top: 15%;
    left: 5%;
    display: inline;
    margin-top: 10px;
}
.name2 {
    position: absolute;
    top: 15%;
    right: 5%;
    margin-top: 10px;
}
.email1{position: absolute;
    top: 35%;
    left: 5%;
    display: inline;
    margin-top: 10px;
}
.email2{position: absolute;
    top: 35%;
    right: 5%;
    display: inline;
    margin-top: 10px;
}
.mobile1{position: absolute;
    top: 55%;
    left: 5%;
    display: inline;
    margin-top: 10px;
}
.mobile2{position: absolute;
    top: 55%;
    right: 5%;
    display: inline;
    margin-top: 10px;
}
.address1{position: absolute;
    top: 75%;
    left: 5%;
    display: inline;
    margin-top: 10px;
}
.address2{position: absolute;
    top: 75%;
    right: 5%;
    display: inline;
    margin-top: 10px;
}
.line1{
    position: absolute;
    top: 35px;
}
.ids{
    background-color: white;
    border: 2px solid rgb(190, 187, 187);
    width: 58%;
    height: 49%;
    position: absolute;
    top: 50.5%;
    left: 41.2%;
    border-radius: 15px;
}
.ids img{
    background-color: white;
}
.ids h4{
    background-color: white;
    font-size: 5vh;
}
.ids p{
    background-color: white;
    font-size: 4vh;
}
.ids div{
    background-color: white;
}
.website{
    display: inline;
}
.website1{
    position: absolute;
    top: 17%;
    left: 1%;
    height: 70px;
    width: 70px;
}
.website2{
    position: absolute;
    top: 12%;
    left: 14%;
}
.website3{
    background-color: white;
    color: black;
    text-decoration: underline;
    position: absolute;
    font-size: 26px;
    top: 18%;
    right: 2%;
}
.website3:hover{
    color: red;
}
.github{
    display: inline;
}
#github1{
    position: absolute;
    background-color: white;
    top: 37%;
    left: 1%;
    height: 7px;
    width: 7px;
}
.github2{
    position: absolute;
    top: 32%;
    left: 14%;
}
.github3{
    position: absolute;
    background-color: white;
    color: black;
    top: 35%;
    right: 2%;
    font-size: 26px;
}
.github3:hover{
    color: red;
}
.instagram{
    display: inline;
}
#instagram1{
    background-color: white;
    position: absolute;
    top: 57%;
    left: 1%;
    height: 70px;
    width: 70px;
}
.instagram2{
    position: absolute;
    top: 52%;
    left: 14%;
}
.instagram3{
    position: absolute;
    top: 52%;
    right: 2%;
}
.facebook{
    display: inline;
}
#facebook1{
    position: absolute;
    background-color: white;
    top: 77%;
    left: 1%;
    height: 70px;
    width: 70px;
}
.facebook2{
    position: absolute;
    top: 72%;
    left: 14%;
}
.facebook3{
    position: absolute;
    top: 72%;
    right: 2%;
}