/* '*' impiles to all the tags in the web page*/
/*
*{
    margin:0px;
    padding: 0px;
    
}*/
/* a implies to all the links in the web page. */
a{
     text-decoration: none;
     color: yellow;
}
/* similar to hover we have active visitted */
a:hover{
    color: red;
}
body{
    background-color: black;
    color: white;
    font-size: 22px;
    margin: auto;
    border: 5px red dotted; 
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    /*overwrites the above one*/
    padding: 10px 20px 20px 20px;/*area before the border*/
    margin: 20px;/*area after the border*/
}
h1{
    color: red;
    text-align: center;/*keeps the text with respect to the page*/
}
.Table-headings{
    color: pink
}
#Table-inputs{
    color: orange;
}
ul{
    padding-left: 40px;
}
ol{
    padding-left: 40px;
}
#box-1 blockquote{
    font-style: italic;
    color: skyblue;
}
#box-1 p{
    color: skyblue;
}
li{
    border-bottom: dotted lightgreen;
    padding: 3px;
   /* list-style-image: url(chech.png);*/
}
.myclass{
    padding: 20px;
}
.myclass label{
    display: block;
}
.myclass input[type="text" ]{
    padding: 10px;
    width: 80%;
    align-self: center;
}
button{
    margin-top: 100px;
    width: 10%;
    padding: 10px 15px;
    font-size: 20px;
    position: fixed;
    top: 400px;
    right: 10px;
}
button:hover{
    background-color: aqua;
    color: red;
}
.sub{
    width: 10%;
    padding: 0px;
    font-size: 20px;
}
.block{
    float: left;
    width: 33.3%;
    border: 1px solid ;
    padding: 10px;
    box-sizing: border-box;/*If you set box-sizing: border-box; on an element, padding and border are included in the width and height: Both divs are the same size now!*/
}
.main-block{
    float: left;
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}
.sidebar{
    float: right;
    width: 30%;
    background-image: url(sample.png);
    background-position: center center;
    border: 3px solid grey;
    padding: 10px;
    box-sizing: border-box;
}
.mylist li:first-child{
    background: pink;
    color: black;
}
.mylist li:last-child{
    background: blue;
    color: black;
}
.mylist li:nth-child(4){
    background: yellow;
    color: black;
}
.mylist li:nth-child(even){
    background: yellow;
    color: black;
}